- flash.each do |type, message|
  .notification
    %button.delete
    - case type
    - when 'error'
      %span.icon.has-text-warning
        %i.mdi.mdi-alert-circle
    - when 'alert'
      %span.icon.has-text-danger
        %i.mdi.mdi-alert-circle-outline
    - when 'notice'
      %span.icon.has-text-info
        %i.mdi.mdi-information
    - when 'info'
      %span.icon.has-text-notice
        %i.mdi.mdi-information
    - when 'success'
      %span.icon.has-text-warning
        %i.mdi.mdi-checkbox-marked-circle
    - else
      -# no icon

    = message
