.section
  %h1.title.is-spaced Über farsharing
  %h2.subtitle Changelog
  %p
    Die Versionshistorie dieser Installation kann unter
    = link_to "Changelog", pages_changelog_path
    eingesehen werden.  Aktuelle Versionen finden sich im
    = link_to "github repository", "https://github.com/fwolfst/farsharing"


.section
  %h2.subtitle Lizenz
  %p
    farsharing ist Freie Software und unter der <a href="https://opensource.org/licenses/GPL-3.0" target="_tab">GPLv3</a> (oder einer späteren Version) <a href="https://github.com/fwolfst/farsharing" target="_tab">veröffentlicht</a>.
