.section
  %h1.title Über farsharing
  %h2.subtitle Lizenz
  farsharing ist Freie Software und unter der <a href="https://opensource.org/licenses/GPL-3.0" target="_tab">GPLv3</a> (oder einer späteren Version) <a href="https://github.com/fwolfst/farsharing" target="_tab">veröffentlicht</a>.
