.section
  %h1.title.has-text-centered
    Datenschutzerklärung

%table.table
  %tr
    %th Welche Daten
    %td Warum

.content
  %h2.subtitle.has-text-centered
    Unterpunkt
  
  %p
    Paragraph
  
