.section
  %h1.title.has-text-centered
    Datenschutzerklärung (Platzhalter!)

.has-text-centered
  Zuletzt geändert am 1.4.2019 .

%table.table
  %tr
    %th Welche Daten
    %td Warum
  %tr
    %th E-Mail Adresse
    %td Als Login und um Abläufe, die die Anmeldung an der Dienstleistung betreffen abzuwickeln. Applikations-spezifische Benachrichtigungen.
  %tr
    %th Cookies
    %td Anmeldung
  %tr
    %th Zugriffe auf Web-Anwendung
    %td Sicherstellung der Funktionalität, Analyse bezüglich Fehler und genereller Nutzung des Services, Optimierung der Abläufe und mögliche Fehlerbereinigung.

.content.columns
  .column.is-6.is-offset-3
    %h2.subtitle.has-text-centered
      Wer wir sind
    
    %p
      Die Adresse dieser Website ist: https://....
      
      Verantwortlich ist der Freundeskreis Ökdorf e.V.,
      %pre
        Sieben Linden 1
        38489 Beetzendorf OT Poppau
        Deutschland
        Tel.: +49-39000-51235
        E-Mail: info@siebenlinden.org
        Website: http://siebenlinden.org
        Umsatzsteueridentifikationsnummer: DE 249278851
        Vereinsregister Stendal, VR 53348
        Vorstand: Simone Britsch, Hanne Kaiser-Gottwald, Giselher Dahmen, Claudia Marx.
      

      %h2.subtitle.has-text-centered
        Welche personenbezogenen (und andere) Daten wir "sammeln"" und warum wir sie sammeln
      
      %p
        Dieses Seite kann benutzt werden, um gemeinsame Fahrten sowie die gemeinsame Nutzung der Fahrzeuge und Räume im Ökodorf Sieben Linden zu organisieren. Dazu geben Nutzer/Innen ihre E-Mail-Adresse, sowie andere Kontaktdaten und Informationen an. Die angegebenen Informationen sind notwendig um die Fahrtzusammenlegung zu organisieren sowie Benachrichtigungen zu versenden.

      
      %h2.subtitle.has-text-centered
        Cookies
      %p
        Anmeldedaten und Benachrichtigungen werden in Cookies gespeichert.  Informationen zum Umgang von cookies liefert die Hilfe-Funktion des entsprechenden Browsers.
      
      %h2.subtitle.has-text-centered
        Analysedienste
      %p
        Die Kommunikationsdaten werden nicht weiter analysiert, aber in normalen Maße in Protokolldateien gespeichert (um den Server- und Applikationsbetrieb sicherzustellen).  Insbesondere werden die versandten E-Mails gespeichert, um nachvollziehen zu können ob das System korrekt funktioniert.
      
      %h2.subtitle.has-text-centered
        Mit wem wir deine Daten teilen
      %p
        Die persönlichen und Kommunikationsdaten werden nicht weiter mit anderen Instanzen geteilt.
      
      %h2.subtitle.has-text-centered
        Wie lange wir deine Daten speichern
      
      %p
        Die Daten werden im Sinne der Nutzer/innen so lange gespeichert, bis der/die Nutzer/in um eine Löschung bittet. Dazu reicht eine einfache mail an bildungsreferat@siebenlinden.org (oder ein Anruf bei o.g. Telefonnummer).
      
      %h2.subtitle.has-text-centered
        Welche Rechte du an deinen Daten hast
      
      %p
        Du kannst jederzeit eine Löschung oder Herausgabe der Daten verlangen. Dazu reicht eine einfache mail an bildungsreferat@siebenlinden.org (oder ein Anruf bei o.g. Telefonnummer).
      
      %h2.subtitle.has-text-centered
        Wie wir deine Daten schützen
      
      %p
        Die persönlichen Daten wie z.B. Telefonnummer sind nur für Administrator*n (Mitarbeiter der Betreiberin) einsichtlich.
        Passwörter werden verschlüsselt gespeichert.
      
      %h2.subtitle.has-text-centered
        Welche automatisierte Entscheidungsfindung und/oder Profilerstellung wir mit Benutzerdaten durchführen
      %p
        Keine 

.content
  %h2.subtitle.has-text-centered
    Bsp Unterpunkt
  
  %p
    Bsp Paragraph

