.section
  %h1.title= User.model_name.human(count: 2)
  
  != pagy_bulma_nav(@pagy) if @pagy.pages > 1
  %table.table.is-hoverable
    %thead
      %tr
        %th
          %th
    %tbody
      = render @users
  != pagy_bulma_nav(@pagy) if @pagy.pages > 1
